# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example
backend_django/media/media

# Django
hotel_backend/db.sqlite3
*.sqlite3
/staticfiles/
/media/

# Logs
*.log

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
